*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}
.main{
    height: 100%;
    width: 100%;
    background-color: aqua;
}
#shape{
    height: 200px;
    width: 200px;
    background-color: aqua;
    border: 1px solid black;



}